* {
}

img {
    height: auto;
    width: 200px;
    display: inline;
}

h1 {
    text-align: center;
}

.image-desc{
    margin: 0px;
    background-color: #800020;
    color: goldenrod;
    font-weight: 800;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 5px;
    padding: 20px;
}

footer {
    display: flex;
    justify-content: center;
    background-color: #800020;
    border-radius: 5px;
    padding: 20px;
    color: goldenrod;
    font-weight: 800;
}