body {
    font-family: 'Courier New', Courier, monospace;

}

.header {
    background-color: #800020;
    color: antiquewhite;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 5px;
    padding: 20px;
}

h1 {
    font-weight: 800px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}
p {
    text-align: center;
    font-family: Verdana, sans-serif;
}

a {
    font-size: 24px;
}

.recipes{
    margin: 12px auto;
    display: flex;
    align-items: center;
    flex-flow: column;
    background-color: goldenrod;
    margin: 0;
    border-radius: 5px;
    padding: 20px;
}

.first{
    margin: 10px;
}

.second{
    margin: 10px;
}

.third{
    margin: 10px;
}

.recipes{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

img {
    width: 200px;
    height: auto;
}

footer {
    display: flex;
    justify-content: center;
    background-color: #800020;
    border-radius: 5px;
    padding: 20px;
    color: antiquewhite;
}