body {
    background-color:burlywood;
}

h1 {
    font-weight: 800px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}
p {
    text-align: center;
    font-family: Verdana, sans-serif;
}

a {
    font-size: 24px;
}

.recipes{
    margin: 12px auto;
}

.first{
    margin: 10px;
}
.second{
    margin-bottom: 10px;
    margin-left: 10px;
}

.third{
    margin-left: 10px;
    margin-bottom: 10px;
}