body {
    font-family: 'Courier New', Courier, monospace;

}

.header {
    background-color: #800020;
    color: antiquewhite;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 5px;
    padding: 20px;
}

.head {
    font-weight: 800px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    text-decoration: underline;
}
p {
    text-align: center;
    font-family: Verdana, sans-serif;
}

a {
    font-size: 24px;
}

.recipes{
    margin: 12px auto;
    display: flex;
    justify-content: space-around;
    flex-flow: row;
    background-color: goldenrod;
    margin: 10px 0 10px;
    border-radius: 5px;
    padding: 20px;
}

.link {
    gap: 20px;
}

img {
    width: 200px;
    height: auto;
}

footer {
    display: flex;
    justify-content: center;
    background-color: #800020;
    border-radius: 5px;
    padding: 20px;
    color: antiquewhite;
}